# Core functionality - changes here should be rare!
/src/app.py                   @ChonkyQueen
/src/backend/database.py      @ChonkyQueen
/src/backend/routers/auth.py  @ChonkyQueen

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ChonkyQueen
